@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-12">
        <section>
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Request.EmailAddress" class="control-label"></label>
                    <input asp-for="Request.EmailAddress" class="form-control" autocomplete="on" />
                    <span asp-validation-for="Request.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </section>
    </div>
</div>