@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Request.EmailAddress" class="control-label"></label>
                <input asp-for="Request.EmailAddress" class="form-control" />
                <span asp-validation-for="Request.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Request.Password" class="control-label"></label>
                    <input asp-for="Request.Password" class="form-control" />
                    <span asp-validation-for="Request.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Request.PasswordConfirm" class="control-label"></label>
                    <input asp-for="Request.PasswordConfirm" class="form-control" />
                    <span asp-validation-for="Request.PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
