@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-12">
        <section>
            <form asp-controller="Account" asp-action="ResetPassowrd" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="hidden" asp-for="Request.Token" />
                <div class="form-group">
                    <label asp-for="Request.NewPassword" class="control-label"></label>
                    <input asp-for="Request.NewPassword" class="form-control" />
                    <span asp-validation-for="Request.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Request.NewPasswordConfirm" class="control-label"></label>
                    <input asp-for="Request.NewPasswordConfirm" class="form-control" />
                    <span asp-validation-for="Request.NewPasswordConfirm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
            </form>
        </section>
    </div>
</div>