@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h4>todo</h4>
    <ul>
        <li>change view session to use GET with query strings</li>
        <li>custom tag helpers for complex ui elements (multiselect, nullable radio button)</li>
        <li>in-memory token store</li>
        <li>authorization (admin, manager, reporter)</li>
        <li>viewmodel caching</li>
        <li>email and registration confirmation</li>
    </ul>
</div>
