@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h4>todo</h4>
    <ul>
        <li>authorization on admin</li>
        <li>sessions and user action logging (session events)</li>
        <li>session browser</li>
        <li>viewmodel caching</li>
        <li>email and registration confirmation</li>
    </ul>
</div>
