@model IndexViewModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p class="lead">This is a template starter project that has everything you need to start building ASP.NET Core 3 applications</p>
    <hr class="my-4">
    <p>Explore the site's many features are click the link below to view documentation</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/thewebchameleon/Template.MVC" role="button">Learn more</a>
</div>

@if (Model.DisplayPromoBanner)
{
    <div class="jumbotron">
        <h1 class="display-4">This is a promotional banner!</h1>
        <p class="lead">This is a toggled feature!</p>
    </div>
}