@model CreatePermissionViewModel
@{
    ViewData["Title"] = "Create Permission";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-controller="Admin" asp-action="CreatePermission" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Request.Key" class="control-label"></label>
                <input asp-for="Request.Key" class="form-control" />
                <span asp-validation-for="Request.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Name" class="control-label"></label>
                <input asp-for="Request.Name" class="form-control" />
                <span asp-validation-for="Request.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.GroupName" class="control-label"></label>
                <input asp-for="Request.GroupName" class="form-control" />
                <span asp-validation-for="Request.GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Description" class="control-label"></label>
                <input asp-for="Request.Description" class="form-control" />
                <span asp-validation-for="Request.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

}
