@using Template.MVC.TagHelpers;

<header>
    @{
        var rawNotifications = TempData["Notifications"] as string;
        if (!string.IsNullOrEmpty(rawNotifications))
        {
            var notifications = JsonConvert.DeserializeObject<List<Notification>>(rawNotifications);
            if (notifications.Any())
            {
                <div class="notifications-container">
                    @foreach (var notification in notifications)
                    {
                        <div class="notification notification-type-@notification.Type.ToString().ToLower()">
                            @Html.Raw(notification.Message)
                        </div>
                    }
                </div>
            }
        }
    }

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Template.MVC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li class="nav-item" asp-authorize>
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">Profile</a>
                    </li>
                    <li class="nav-item" asp-permission="@PermissionKeys.ViewSessions">
                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Sessions">Sessions</a>
                    </li>
                    <li class="nav-item dropdown" asp-permission="@PermissionKeys.ViewAdmin">
                        <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="Admin" asp-action="UserManagement">Users</a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="RoleManagement">Roles</a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="PermissionManagement">Permissions</a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="ConfigurationManagement">Configuration</a>
                            <a class="dropdown-item" asp-controller="Admin" asp-action="SessionEventManagement">Session Events</a>
                        </div>
                    </li>
                    <li class="nav-item" asp-authorize>
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Log out</a>
                    </li>
                    <li class="nav-item" asp-not-authenticated>
                        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>